---
- Infrastructure:
    - Homepage:
        icon: homepage.png
        href: "https://{{ homelab_tailnet_fqdn }}"
        description: Main landing page
    - Vaultwarden:
        icon: vaultwarden.png
        href: "https://vault.homelab"
        description: Local DNS alias through AdGuard
